In [14]:
import pandas as pd

In [18]:
# Creating dataframe
poll = pd.DataFrame({'John': ['I like it','It was awfull'],
                     'Jane': ['Pretty good','Bland']},
                    index=['Product A','Product B'],
                    )
poll

                    John         Jane
Product A      I like it  Pretty good
Product B  It was awfull        Bland

In [22]:
# series is a sequence of data values.
#pd.Series([1,3,4,5,7])
fruits = pd.Series(['Apple','Orange','Strawberry'])
fruits

0         Apple
1        Orange
2    Strawberry
dtype: object

In [23]:
pd.Series([39,49,34],index=['2019 Sales','2020 Sales','2021 Sales'],name='Product A')

2019 Sales    39
2020 Sales    49
2021 Sales    34
Name: Product A, dtype: int64

In [27]:
# reading files
reviews = pd.read_csv('reviews.csv')
reviews

   Product A  Product B  Product C  Unnamed: 3
0         30         21          9         NaN
1         35         34          1         NaN
2         41         11         11         NaN

In [26]:
# shape method is used to check volume of dataframe
reviews.shape

(3, 4)

In [28]:
reviews.head()

   Product A  Product B  Product C  Unnamed: 3
0         30         21          9         NaN
1         35         34          1         NaN
2         41         11         11         NaN