In [12]:
import pandas as pd

In [13]:
reviews = pd.read_csv('winemag.csv', index_col=0)
pd.set_option('max_rows',6)
reviews

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65496,US,"Much improved over the unripe 2005, Fritz's 20...",Estate,90,20.0,California,Dry Creek Valley,Sonoma,NaN,NaN,Fritz 2006 Estate Sauvignon Blanc (Dry Creek V...,Sauvignon Blanc,Fritz
65497,US,This wine wears its 15.8% alcohol better than ...,Block 24,90,31.0,California,Napa Valley,Napa,NaN,NaN,Hendry 2004 Block 24 Primitivo (Napa Valley),Primitivo,Hendry
65498,Spain,"A unique take on Manzanilla Sherry, which is o...",Manzanilla,90,10.0,Andalucia,Jerez,NaN,Michael Schachner,@wineschach,Bodegas Dios Baco S.L. NV Manzanilla Sherry (J...,Sherry,Bodegas Dios Baco S.L.

In [14]:
reviews.country

0           Italy
1        Portugal
2              US
           ...
65496          US
65497          US
65498       Spain
Name: country, Length: 65499, dtype: object

In [15]:
reviews['country'][:]

0           Italy
1        Portugal
2              US
           ...
65496          US
65497          US
65498       Spain
Name: country, Length: 65499, dtype: object

In [16]:
reviews.iloc[0]

country                                                    Italy
description    Aromas include tropical fruit, broom, brimston...
designation                                         Vulkà Bianco
                                     ...
title                          Nicosia 2013 Vulkà Bianco  (Etna)
variety                                              White Blend
winery                                                   Nicosia
Name: 0, Length: 13, dtype: object

In [17]:
reviews.iloc[:,0]

0           Italy
1        Portugal
2              US
           ...
65496          US
65497          US
65498       Spain
Name: country, Length: 65499, dtype: object

In [18]:
# loc and iloc both row-first column-scond

reviews.iloc[:,0] # it will select all rows in first column

0           Italy
1        Portugal
2              US
           ...
65496          US
65497          US
65498       Spain
Name: country, Length: 65499, dtype: object

In [26]:
# iloc index based
# loc is label based
reviews.iloc[1:3,:4]

,country,description,designation,points
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87

In [29]:
# passing list.
reviews.iloc[[0,4,7],[0,7,3]]

  country           region_2  points
0   Italy                NaN      87
4      US  Willamette Valley      87
7  France                NaN      87