In [3]:
import pandas as pd
pd.set_option('max_rows',5)
import numpy as np 
reviews = pd.read_csv('winemag.csv',index_col =0)

In [4]:
reviews

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65497,US,This wine wears its 15.8% alcohol better than ...,Block 24,90,31.0,California,Napa Valley,Napa,NaN,NaN,Hendry 2004 Block 24 Primitivo (Napa Valley),Primitivo,Hendry
65498,Spain,"A unique take on Manzanilla Sherry, which is o...",Manzanilla,90,10.0,Andalucia,Jerez,NaN,Michael Schachner,@wineschach,Bodegas Dios Baco S.L. NV Manzanilla Sherry (J...,Sherry,Bodegas Dios Baco S.L.

In [5]:
# describe 
reviews.points.describe()

count    65499.000000
mean        88.434037
             ...
75%         91.000000
max        100.000000
Name: points, Length: 8, dtype: float64

In [6]:
reviews['country'].describe()

count     65467
unique       41
top          US
freq      27177
Name: country, dtype: object

In [8]:
reviews.taster_name.describe()

count          51856
unique            19
top       Roger Voss
freq           13045
Name: taster_name, dtype: object

In [9]:
reviews.mean()

points    88.434037
price     35.232932
dtype: float64

In [10]:
reviews.describe()

             points         price
count  65499.000000  60829.000000
mean      88.434037     35.232932
...             ...           ...
75%       91.000000     42.000000
max      100.000000   2500.000000

[8 rows x 2 columns]

In [11]:
reviews.unique()

AttributeError: 'DataFrame' object has no attribute 'unique'

In [12]:
reviews.taster_name.unique()

array(['Kerin O’Keefe', 'Roger Voss', 'Paul Gregutt',
       'Alexander Peartree', 'Michael Schachner', 'Anna Lee C. Iijima',
       'Virginie Boone', 'Matt Kettmann', nan, 'Sean P. Sullivan',
       'Jim Gordon', 'Joe Czerwinski', 'Anne Krebiehl\xa0MW',
       'Lauren Buzzeo', 'Mike DeSimone', 'Jeff Jenssen',
       'Susan Kostrzewa', 'Carrie Dykes', 'Fiona Adams',
       'Christina Pickard'], dtype=object)

In [13]:
reviews.country.unique()

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico',
       'Canada', nan, 'Turkey', 'Czech Republic', 'Slovenia',
       'Luxembourg', 'Croatia', 'Georgia', 'Uruguay', 'England',
       'Lebanon', 'Serbia', 'Brazil', 'Moldova', 'Morocco', 'Peru',
       'India', 'Bulgaria', 'Cyprus', 'Armenia', 'Switzerland',
       'Bosnia and Herzegovina', 'Ukraine', 'Slovakia', 'Macedonia'],
      dtype=object)

In [16]:
reviews.loc[(reviews['country'] == 'Switzerland')]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
14187,Switzerland,"A Swiss blend of Pinot Noir and Gamay, this de...",Dôle des Monts,90,30.0,Valais,NaN,NaN,Jeff Jenssen,@worldwineguys,Robert Gilliard 2012 Dôle des Monts Pinot Noir...,Pinot Noir-Gamay,Robert Gilliard
21791,Switzerland,This wine is cherry red with soft brown tinges...,NaN,89,160.0,Switzerland,NaN,NaN,Jeff Jenssen,@worldwineguys,Gantenbein 2011 Pinot Noir (Switzerland),Pinot Noir,Gantenbein
32423,Switzerland,This wine has a bouquet of tart cherry with a ...,NaN,89,160.0,Switzerland,NaN,NaN,Jeff Jenssen,@worldwineguys,Gantenbein 2012 Pinot Noir (Switzerland),Pinot Noir,Gantenbein
50589,Switzerland,"A soft blackberry, vanilla and plum nose is fo...",Carato,83,38.0,Ticino,NaN,NaN,Susan Kostrzewa,@suskostrzewa,Delea 2004 Carato Merlot (Ticino),Merlot,Delea

In [17]:
reviews.taster_name.value_counts()

Roger Voss           13045
Michael Schachner     7752
                     ...
Fiona Adams             11
Christina Pickard        4
Name: taster_name, Length: 19, dtype: int64

In [19]:
reviews.country.value_counts()

US                        27177
France                    11174
                          ...
Bosnia and Herzegovina        1
Slovakia                      1
Name: country, Length: 41, dtype: int64